/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/* line 31, ../sass/screen.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/* line 37, ../sass/screen.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 42, ../sass/screen.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 47, ../sass/screen.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 56, ../sass/screen.scss */
audio,
canvas,
iframe,
img,
svg {
  vertical-align: middle;
  max-width: 100%;
}

/* line 65, ../sass/screen.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 71, ../sass/screen.scss */
textarea {
  resize: vertical;
}

/* line 75, ../sass/screen.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Site sepcific styles
   ========================================================================== */
/* line 87, ../sass/screen.scss */
body {
  font-family: "proxima-nova", sans-serif;
  background: #ECEEEB;
}

/* line 91, ../sass/screen.scss */
.blogbody ol {
  list-style-type: decimal;
}

/* line 94, ../sass/screen.scss */
.blogbody ul {
  list-style-type: disc;
}

/* line 97, ../sass/screen.scss */
.blogbody em, i {
  font-style: italic;
}

/* line 100, ../sass/screen.scss */
.blogbody strong, b {
  font-weight: bold;
}

/* line 103, ../sass/screen.scss */
.nav-overlay--on body {
  overflow: hidden;
}

/* line 105, ../sass/screen.scss */
.button {
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 50px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: .8em;
  margin-top: 50px;
  border-radius: 0;
  letter-spacing: .05em;
}
/* line 118, ../sass/screen.scss */
.button:hover {
  color: #43BC8F;
  background-color: white;
  border: 2px solid transparent;
}
/* line 124, ../sass/screen.scss */
.button.button--green {
  color: #43BC8F;
  border: 2px solid #43BC8F;
}
/* line 128, ../sass/screen.scss */
.button.button--green:hover {
  color: white;
  background-color: #43BC8F;
  border: 2px solid transparent;
}
/* line 135, ../sass/screen.scss */
.button.button--green-solid {
  color: white;
  background-color: #43BC8F;
  border: 2px solid #43BC8F;
}
/* line 140, ../sass/screen.scss */
.button.button--green-solid:hover {
  color: #43BC8F;
  background-color: white;
  border: 2px solid #43BC8F;
}
/* line 148, ../sass/screen.scss */
.button.button--red-solid {
  color: white;
  background-color: #FF565B;
  border: 2px solid #FF565B;
}
/* line 153, ../sass/screen.scss */
.button.button--red-solid:hover {
  color: #FF565B;
  background-color: white;
  border: 2px solid transparent;
}
/* line 160, ../sass/screen.scss */
.button.button--contact {
  margin-top: 30px;
}
/* line 162, ../sass/screen.scss */
.button .fa {
  margin-right: 10px;
}

/* line 166, ../sass/screen.scss */
#nf-field-22 {
  padding: 8px 22px;
}

/* line 167, ../sass/screen.scss */
.heading {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1em;
}

/* line 173, ../sass/screen.scss */
.heading--black {
  color: #000;
}

/* line 177, ../sass/screen.scss */
.subheading {
  font-size: 1.75em;
  font-weight: 300;
  color: #72687B;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}

/* line 186, ../sass/screen.scss */
.description {
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}

/* line 193, ../sass/screen.scss */
.header--home {
  background-image: url("/wp-content/themes/klue/assets/img/header-background.png"), url("/wp-content/themes/klue/assets/img/header-background-repeat.png");
  background-repeat: no-repeat, repeat-x;
  background-position: center bottom, center bottom;
  background-size: 0, 0;
  background-color: transparent;
  position: relative;
  padding-top: 1px;
  overflow: hidden;
}
@media (min-width: 880px) {
  /* line 193, ../sass/screen.scss */
  .header--home {
    height: 840px;
    background-size: 1654px 341px, 1px 152px;
  }
}

/* line 209, ../sass/screen.scss */
.header {
  border-bottom: 90px solid #43BC8F;
  background-size: cover;
  padding: 1px;
  background-color: #3E3750;
  background-position: center;
}
@media (max-width: 880px) {
  /* line 209, ../sass/screen.scss */
  .header {
    height: 660px;
  }
}

/* line 223, ../sass/screen.scss */
.header--blog,
.header--post {
  height: 340px;
}
@media (min-width: 1024px) {
  /* line 223, ../sass/screen.scss */
  .header--blog,
  .header--post {
    height: 450px;
  }
}

/* line 232, ../sass/screen.scss */
.header--post {
  height: 750px;
  border-bottom: 0;
}

/* line 237, ../sass/screen.scss */
.page--jobs .header,
.page-template-jobs .header {
  border-bottom: 90px solid #FF565B;
}

/* line 242, ../sass/screen.scss */
.page--blog .header,
.header--post .header {
  border-bottom: 0;
}

/* line 247, ../sass/screen.scss */
.blog .header,
.category .header {
  border-bottom: 90px solid #3E3750;
}

/* line 251, ../sass/screen.scss */
.header--blog ul {
  list-style: none;
}

/* line 255, ../sass/screen.scss */
.header__header-sinch {
  max-width: 1200px;
  margin: 135px auto 0;
  position: relative;
  box-sizing: border-box;
  clear: both;
}
@media (min-width: 880px) {
  /* line 255, ../sass/screen.scss */
  .header__header-sinch {
    padding: 0 20px;
  }
}
@media (min-width: 1024px) {
  /* line 255, ../sass/screen.scss */
  .header__header-sinch {
    padding: 0 40px;
  }
}

/* line 270, ../sass/screen.scss */
.heading__wrapper {
  width: 510px;
  height: 100px;
  display: block;
  left: 0;
  top: 80px;
  position: absolute;
}
@media (max-width: 880px) {
  /* line 270, ../sass/screen.scss */
  .heading__wrapper {
    right: 20px;
    left: auto;
    top: 90px;
    display: block;
  }
}

/* line 286, ../sass/screen.scss */
.header__heading {
  position: absolute;
  color: white;
  right: 0;
  background: #897897;
  padding: 5px 25px;
  font-size: 2.2em;
}

@media (max-width: 640px) {
  /* line 296, ../sass/screen.scss */
  .page--home .header__heading {
    height: 30px;
    margin: 20px auto 40px;
  }
}

/* line 303, ../sass/screen.scss */
.page--webinars .header__heading {
  background-color: #9378AC;
}

/* line 306, ../sass/screen.scss */
.blognav {
  max-width: 1250px;
  margin: 220px auto 0;
  position: relative;
}
@media (max-width: 880px) {
  /* line 306, ../sass/screen.scss */
  .blognav {
    margin: -20px auto 0;
  }
}

@media (max-width: 880px) {
  /* line 316, ../sass/screen.scss */
  .single-post .blognav {
    display: none;
  }
}

/* line 322, ../sass/screen.scss */
.blognav__catlist {
  display: flex;
  width: 100%;
  overflow-x: hidden;
  max-width: 835px;
  height: 60px;
}
@media (max-width: 880px) {
  /* line 322, ../sass/screen.scss */
  .blognav__catlist {
    width: auto;
    padding: 11px 0 30px 30px;
    margin: 0 auto;
    overflow: scroll;
    top: 0px;
  }
}

/* line 338, ../sass/screen.scss */
.catlist__cover {
  display: block;
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 70px;
}

/* line 346, ../sass/screen.scss */
.catlist__cover--front {
  margin: -20px 0 0 0;
  /* http://colorzilla.com/gradient-editor/#3e3750+0,3e3750+100&1+45,0+100 */
  background: -moz-linear-gradient(left, #3e3750 0%, #3e3750 45%, rgba(62, 55, 80, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #3e3750 0%, #3e3750 45%, rgba(62, 55, 80, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #3e3750 0%, #3e3750 45%, rgba(62, 55, 80, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e3750', endColorstr='#003e3750',GradientType=1 );
  /* IE6-9 */
}

/* line 355, ../sass/screen.scss */
.catlist__cover--back {
  margin: -20px 0 0 805px;
  /* http://colorzilla.com/gradient-editor/#3e3750+0,3e3750+100&0+0,1+56 */
  background: -moz-linear-gradient(left, rgba(62, 55, 80, 0) 0%, #3e3750 56%, #3e3750 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(62, 55, 80, 0) 0%, #3e3750 56%, #3e3750 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(62, 55, 80, 0) 0%, #3e3750 56%, #3e3750 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e3750', endColorstr='#3e3750',GradientType=1 );
  /* IE6-9 */
}
@media (max-width: 880px) {
  /* line 355, ../sass/screen.scss */
  .catlist__cover--back {
    margin: 0;
    right: 0;
  }
}

/* line 369, ../sass/screen.scss */
.catlist__item {
  flex-shrink: 0;
}

/* line 373, ../sass/screen.scss */
.catlist__link {
  border: 2px solid #6E6093;
  padding: 10px 12px;
  color: #AF95F2;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 600;
  display: block;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .05em;
  transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
}

/* line 387, ../sass/screen.scss */
.catlist__link:not(.catlist__link--current):hover {
  color: #3E3750;
  background-color: #AF95F2;
  border-color: #AF95F2;
}

/* line 392, ../sass/screen.scss */
.catlist__link--current {
  color: white;
  border-color: white;
}

/* line 397, ../sass/screen.scss */
.button--blogsubscribe {
  position: absolute;
  padding: 14px 50px 11px;
  right: 10px;
}
@media (min-width: 1280px) {
  /* line 397, ../sass/screen.scss */
  .button--blogsubscribe {
    right: 35px;
  }
}
@media (max-width: 880px) {
  /* line 397, ../sass/screen.scss */
  .button--blogsubscribe {
    display: none;
  }
}

/* line 410, ../sass/screen.scss */
.blog__heading {
  position: absolute;
  top: 60px;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .1em;
  color: #43BC8F;
  line-height: 2em;
}
@media (max-width: 880px) {
  /* line 410, ../sass/screen.scss */
  .blog__heading {
    top: 40px;
    margin-left: 30px;
  }
}

/* line 425, ../sass/screen.scss */
.page--about .header__heading {
  background: #43BC8F;
}

/* line 429, ../sass/screen.scss */
.header__heading--home {
  color: #DBD6DF;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 140px auto 40px;
}
@media (min-width: 880px) {
  /* line 429, ../sass/screen.scss */
  .header__heading--home {
    width: 490px;
    position: absolute;
    left: 50%;
    text-align: left;
    top: 185px;
    margin: 120px 0;
  }
}
@media (min-width: 1024px) {
  /* line 429, ../sass/screen.scss */
  .header__heading--home {
    margin-left: 50px;
  }
}

/* line 452, ../sass/screen.scss */
.header-sinch__header-logo {
  margin: 0 auto;
  display: block;
}
@media (max-width: 880px) {
  /* line 452, ../sass/screen.scss */
  .header-sinch__header-logo {
    width: 100px;
    position: absolute;
    top: -110px;
    left: 30px;
  }
}
@media (min-width: 880px) {
  /* line 452, ../sass/screen.scss */
  .header-sinch__header-logo {
    float: left;
    margin: -32px 0 0;
  }
}

/* line 468, ../sass/screen.scss */
.header-sinch__header-nav {
  color: #D3CED6;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .8em;
  display: none;
}
@media (max-width: 880px) {
  /* line 468, ../sass/screen.scss */
  .header-sinch__header-nav {
    float: right;
    text-align: left;
    bottom: 407px;
    margin-left: 50px;
  }
}
@media (min-width: 880px) {
  /* line 468, ../sass/screen.scss */
  .header-sinch__header-nav {
    display: flex;
    float: right;
    position: absolute;
    right: 0;
  }
}

/* line 490, ../sass/screen.scss */
.nav-overlay--on .header-sinch__header-nav {
  background: #57506A;
  display: block;
  width: 100%;
  height: 120%;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 0;
  padding: 120px 60px;
  text-align: center;
  box-sizing: border-box;
  z-index: 100;
  opacity: 0;
}

/* line 506, ../sass/screen.scss */
.nav-overlay--show .header-sinch__header-nav {
  opacity: 1;
}

/* line 509, ../sass/screen.scss */
.header-nav__header-nav-item a {
  color: #E3D8FF;
  text-decoration: none;
}
/* line 513, ../sass/screen.scss */
.header-nav__header-nav-item a:hover {
  color: #43BC8F;
}
@media (max-width: 880px) {
  /* line 508, ../sass/screen.scss */
  .header-nav__header-nav-item {
    margin: 30px 0;
    font-size: 1.2em;
  }
}
@media (min-width: 880px) {
  /* line 508, ../sass/screen.scss */
  .header-nav__header-nav-item {
    margin: 0 10px;
  }
}
@media (min-width: 1024px) {
  /* line 508, ../sass/screen.scss */
  .header-nav__header-nav-item {
    margin: 0 12px;
    letter-spacing: .05em;
  }
}

/* line 530, ../sass/screen.scss */
.header-nav__header-nav-item--current a {
  border-bottom: 3px solid #fff;
  padding-bottom: 7px;
  color: #fff;
}

/* line 537, ../sass/screen.scss */
.header-nav__header-nav-item--login a {
  color: #43BC8F;
}
/* line 539, ../sass/screen.scss */
.header-nav__header-nav-item--login a:hover {
  color: white;
}
@media (min-width: 880px) {
  /* line 537, ../sass/screen.scss */
  .header-nav__header-nav-item--login a {
    padding-left: 20px;
    border-left: 2px solid #E3D8FF;
  }
}

/* line 550, ../sass/screen.scss */
.page--jobs .header-nav__header-nav-item--login a {
  color: #FF565B;
}

/* line 553, ../sass/screen.scss */
h1.overlay__heading--founded a {
  text-decoration: none;
  color: white;
}

/* line 554, ../sass/screen.scss */
#header-video {
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
@media (min-width: 880px) {
  /* line 554, ../sass/screen.scss */
  #header-video {
    position: absolute;
    bottom: 0px;
    width: 480px;
    left: 50%;
    margin-left: -520px;
    padding: 0;
  }
}

@media (max-width: 640px) {
  /* line 573, ../sass/screen.scss */
  .page--home #header-video {
    margin: 230px auto 0;
    max-width: 300%;
  }
}

/* line 579, ../sass/screen.scss */
.header__background {
  background: #3a3748;
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  z-index: -10;
  left: -50%;
}
@media (min-width: 880px) {
  /* line 579, ../sass/screen.scss */
  .header__background {
    left: -50%;
  }
}

/* line 593, ../sass/screen.scss */
.header__background-bar {
  width: 100%;
  height: 90px;
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  z-index: 1;
}
@media (max-width: 880px) {
  /* line 593, ../sass/screen.scss */
  .header__background-bar {
    display: none;
  }
}

/* line 606, ../sass/screen.scss */
.background-bar__video {
  position: absolute;
  width: 300%;
  top: 0;
  left: 0;
}

/* line 613, ../sass/screen.scss */
.button--nav {
  position: fixed;
  top: 30px;
  right: 25px;
  padding: 10px 20px;
  margin: 0;
  display: none;
  text-indent: -9999px;
  background-image: url("/wp-content/themes/klue/assets/img/icon-nav.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  z-index: 100;
}
/* line 627, ../sass/screen.scss */
.button--nav:hover {
  background-color: #43BC8F !important;
}
@media (max-width: 880px) {
  /* line 613, ../sass/screen.scss */
  .button--nav {
    display: block;
  }
}

/* line 636, ../sass/screen.scss */
.nav-overlay--on .button--nav {
  background-image: url("/wp-content/themes/klue/assets/img/icon-close.png");
}

/* line 639, ../sass/screen.scss */
.sinch, .intro, .competitors__box,
.workingat__box, .team {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* line 650, ../sass/screen.scss */
.intro__box {
  display: block;
  width: 510px;
  position: absolute;
  margin: -375px 0 -260px;
  background: white;
  padding: 25px 25px 60px;
  box-sizing: border-box;
  font-weight: 300;
  color: #716879;
}
@media (max-width: 880px) {
  /* line 650, ../sass/screen.scss */
  .intro__box {
    margin: -90px 0 0;
    width: 100%;
    position: relative;
    padding: 10px 10px 90px;
  }
}

/* line 670, ../sass/screen.scss */
.intro__video {
  width: 100%;
  height: 259px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100px, contain, cover;
  cursor: pointer;
}
@media (max-width: 880px) {
  /* line 670, ../sass/screen.scss */
  .intro__video {
    max-height: 200px;
  }
}

/* line 682, ../sass/screen.scss */
.intro__heading {
  font-size: 2.1em;
  font-weight: 500;
  margin: 60px 0 40px 35px;
  line-height: 1.25em;
  color: #43BC8F;
}

/* line 689, ../sass/screen.scss */
.page-template-jobs .intro__heading {
  color: #FF565B;
}

/* line 694, ../sass/screen.scss */
.intro__box p {
  margin: 35px 55px 35px 35px;
  font-size: 1.2em;
  line-height: 1.5em;
}
/* line 699, ../sass/screen.scss */
.intro__box h1, .intro__box h2, .intro__box .button {
  margin: 35px 55px 35px 35px;
}

/* line 704, ../sass/screen.scss */
.section__heading {
  font-size: 1.9em;
  font-weight: 500;
  color: #57506A;
}

/* line 710, ../sass/screen.scss */
.jobsimages {
  display: flex;
  justify-content: center;
  overflow: scroll;
}

/* line 720, ../sass/screen.scss */
.competitors,
.workingat,
.subscribe {
  position: relative;
  padding-top: 515px;
  font-size: 1.1em;
  color: #716879;
  font-weight: 300;
  background-image: url("/wp-content/themes/klue/assets/img/background-city.png");
  background-repeat: no-repeat;
  background-color: #ECEEEB;
  background-size: auto 298px;
  background-position: right 320px;
}
@media (max-width: 1024px) {
  /* line 720, ../sass/screen.scss */
  .competitors,
  .workingat,
  .subscribe {
    background-position: right 360px;
  }
}

/* line 739, ../sass/screen.scss */
.competitors {
  padding-top: 445px;
  background-position: right 210px;
  border-bottom: 90px solid #43BC8F;
}
@media (max-width: 880px) {
  /* line 739, ../sass/screen.scss */
  .competitors {
    background-image: url("/wp-content/themes/klue/assets/img/background-city-small.png");
    background-size: auto 62px;
    background-position: right 164px;
    padding-top: 60px;
  }
}

@media (max-width: 1024px) {
  /* line 752, ../sass/screen.scss */
  .section__heading--competitors {
    margin-bottom: 160px;
  }
}

/* line 758, ../sass/screen.scss */
.workingat {
  padding-top: 160px;
  background-image: url("/wp-content/themes/klue/assets/img/background-city-red.png");
  background-size: auto 84px;
  background-position: right 190px;
}
@media (max-width: 880px) {
  /* line 758, ../sass/screen.scss */
  .workingat {
    background-position: right 230px;
  }
}
/* line 768, ../sass/screen.scss */
.workingat .section__columns {
  padding-top: 150px;
}

/* line 773, ../sass/screen.scss */
.competitors__box,
.workingat__box {
  padding-bottom: 100px;
}
@media (max-width: 1280px) {
  /* line 773, ../sass/screen.scss */
  .competitors__box,
  .workingat__box {
    padding-left: 60px;
    padding-top: 20px;
  }
}
@media (min-width: 1280px) {
  /* line 773, ../sass/screen.scss */
  .competitors__box,
  .workingat__box {
    padding-left: 120px;
  }
}
/* line 785, ../sass/screen.scss */
.competitors__box .section__columns,
.workingat__box .section__columns {
  padding-top: 100px;
}

@media (max-width: 1024px) {
  /* line 794, ../sass/screen.scss */
  .section__columns p {
    max-width: 600px;
    margin: 30px 0;
  }
}
@media (min-width: 1024px) {
  /* line 791, ../sass/screen.scss */
  .section__columns {
    padding-top: 160px;
    columns: 2 auto;
    column-gap: 120px;
    width: 100%;
    max-width: 840px;
  }
}

/* line 808, ../sass/screen.scss */
.subscribe {
  padding-top: 150px;
  padding-bottom: 160px;
  background-position: right 120px;
  background-size: auto 220px;
}
@media (max-width: 1024px) {
  /* line 808, ../sass/screen.scss */
  .subscribe {
    background-position: 250px 120px;
  }
}
@media (max-width: 880px) {
  /* line 808, ../sass/screen.scss */
  .subscribe {
    background-position: 80px 120px;
  }
}
@media (max-width: 680px) {
  /* line 808, ../sass/screen.scss */
  .subscribe {
    padding-top: 80px;
    padding-bottom: 110px;
    background-position: right 250px;
    background-image: url("/wp-content/themes/klue/assets/img/background-city-small.png");
    background-size: auto 62px;
  }
}

/* line 832, ../sass/screen.scss */
.subscribe__box {
  margin: 0 auto;
  padding-left: 80px;
  max-width: 1250px;
}
@media (max-width: 880px) {
  /* line 832, ../sass/screen.scss */
  .subscribe__box {
    width: 50%;
    margin: 0;
  }
}
/* line 842, ../sass/screen.scss */
.subscribe__box .section__heading {
  font-size: 1.5em;
}

/* line 847, ../sass/screen.scss */
.button--subscribe {
  margin-top: 30px;
}
@media (max-width: 680px) {
  /* line 847, ../sass/screen.scss */
  .button--subscribe {
    margin-top: 170px;
  }
}

/* line 854, ../sass/screen.scss */
.button--subscribe-blog {
  position: absolute;
  right: 35px;
  top: 0;
  margin-top: 0;
}
@media (max-width: 1024px) {
  /* line 854, ../sass/screen.scss */
  .button--subscribe-blog {
    display: none;
  }
}

/* line 868, ../sass/screen.scss */
.jobs__listing {
  max-width: 950px;
  margin: 90px auto;
}

/* line 873, ../sass/screen.scss */
.section__heading--jobs {
  margin-left: 40px;
}

/* line 877, ../sass/screen.scss */
.jobs__list,
.angellist_jobs {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
}

/* line 885, ../sass/screen.scss */
.jobs__item,
.angellist_jobs-job {
  background: white;
  padding: 40px 40px 59px;
  max-width: 950px;
  margin-bottom: 10px;
}
/* line 892, ../sass/screen.scss */
.jobs__item a,
.angellist_jobs-job a {
  text-decoration: none;
  font-weight: 600;
}

/* line 898, ../sass/screen.scss */
.jobs__heading,
.angellist_jobs-title,
.angellist_jobs-title-link {
  font-size: 1.8em;
  font-weight: 600;
  color: #57506A;
}

/* line 906, ../sass/screen.scss */
.jobs__vitals {
  font-size: 2em;
  font-weight: 100;
  color: #43BC8F;
  margin-top: 15px;
}

/* line 913, ../sass/screen.scss */
.jobs__details,
.angellist_jobs-job .angellist_jobs-tags {
  font-size: 1.1em;
  font-weight: 300;
  color: #9B8FA5;
}

/* line 920, ../sass/screen.scss */
.angellist_jobs-job .angellist_jobs-tags {
  margin-top: 20px;
}

@media (min-width: 880px) {
  /* line 924, ../sass/screen.scss */
  .resources {
    padding: 270px 0 180px;
  }
}

/* line 930, ../sass/screen.scss */
.resources__columns {
  text-align: center;
}
@media (min-width: 880px) {
  /* line 930, ../sass/screen.scss */
  .resources__columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

/* line 940, ../sass/screen.scss */
.resources__item,
.webinars__item {
  text-align: left;
  display: inline-block;
  max-width: 450px;
  min-width: 300px;
  width: 30%;
  padding-left: 120px;
  background-repeat: no-repeat;
  background-size: 74px 55px;
  background-position: 0 10px;
}
@media (max-width: 880px) {
  /* line 940, ../sass/screen.scss */
  .resources__item,
  .webinars__item {
    width: 100%;
    box-sizing: border-box;
    padding: 80px 30px 30px 30px;
    margin: 60px 0 0 0px;
    background-position: 30px 0px;
  }
}
@media (min-width: 880px) {
  /* line 940, ../sass/screen.scss */
  .resources__item,
  .webinars__item {
    margin: 0 60px 90px;
  }
}
/* line 966, ../sass/screen.scss */
.resources__item p,
.webinars__item p {
  font-size: 1.2em;
  color: #72687B;
  font-weight: 300;
  margin: 35px 0;
}

/* line 974, ../sass/screen.scss */
.resources__item {
  background-image: url("/wp-content/themes/klue/assets/img/resources-document.png");
}

/* line 978, ../sass/screen.scss */
.webinars__item {
  background-image: url("/wp-content/themes/klue/assets/img/webinars-play.png");
}

/* line 983, ../sass/screen.scss */
.button--resources {
  margin: 40px 0px;
  padding: 10px 15px;
  font-size: .9em;
  font-weight: 400;
}

/* line 990, ../sass/screen.scss */
.button--register {
  margin: 35px 35px 0;
}

/* line 994, ../sass/screen.scss */
.button--webinar {
  margin: 40px 0px 20px;
  padding: 10px 15px;
  font-size: .9em;
  font-weight: 400;
}

/* line 1001, ../sass/screen.scss */
.contact__chat {
  background: url("/wp-content/themes/klue/assets/img/contact-intercom-logo.png") no-repeat;
  background-size: 69px;
  background-position: left center;
  padding: 50px 0 50px 140px;
  text-transform: uppercase;
  color: #43BC8F;
  font-weight: 500;
  font-size: 1.4em;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  margin: 60px 30px;
  display: block;
}
@media (max-width: 880px) {
  /* line 1001, ../sass/screen.scss */
  .contact__chat {
    background-position: 15% center;
    text-align: center;
    padding-left: 95px;
  }
}

/* line 1022, ../sass/screen.scss */
.contact__email {
  text-align: center;
  font-size: 2.1em !important;
  font-weight: 500;
  color: #57506A;
}

/* line 1029, ../sass/screen.scss */
.contact__message {
  text-align: center;
}

/* line 1033, ../sass/screen.scss */
.button--message {
  margin: 0 auto;
}

/* line 1037, ../sass/screen.scss */
.visit {
  margin: 120px 300px;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 1280px) {
  /* line 1037, ../sass/screen.scss */
  .visit {
    margin: 120px 90px;
  }
}
@media (max-width: 1024px) {
  /* line 1037, ../sass/screen.scss */
  .visit {
    margin: 120px 30px;
  }
}
@media (max-width: 880px) {
  /* line 1037, ../sass/screen.scss */
  .visit {
    margin: 120px 0;
    justify-content: center;
  }
}

/* line 1055, ../sass/screen.scss */
.visit__visit-wrapper {
  text-align: center;
}

/* line 1059, ../sass/screen.scss */
.visit__heading {
  font-size: 2.2em;
  font-weight: 500;
  color: #57506A;
  max-width: 280px;
}

/* line 1066, ../sass/screen.scss */
.visit__address {
  color: #72687B;
  font-size: 1.2em;
  font-weight: 300;
}

/* line 1072, ../sass/screen.scss */
.visit__button {
  margin: 30px 0 45px;
}

/* line 1076, ../sass/screen.scss */
.overlay {
  padding: 300px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
}

/* line 1083, ../sass/screen.scss */
.overlay__heading {
  color: #fff;
  font-size: 2.2em;
  font-weight: 200;
  line-height: 1.5em;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 150px;
}
@media (max-width: 880px) {
  /* line 1083, ../sass/screen.scss */
  .overlay__heading {
    padding: 0 30px;
  }
}
/* line 1096, ../sass/screen.scss */
.overlay__heading em {
  color: white;
  font-weight: 400;
}

/* line 1102, ../sass/screen.scss */
.overlay__heading--founded {
  color: #D9CAFF;
}

/* line 1106, ../sass/screen.scss */
.team {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 85px;
}

/* line 1112, ../sass/screen.scss */
.awards {
  text-align: center;
  background: #fff;
}

/* line 1117, ../sass/screen.scss */
.awards ul {
  min-width: 696px;
  max-width: 940px;
  list-style: none;
  padding: 35px 0 65px;
}
@media (max-width: 640px) {
  /* line 1117, ../sass/screen.scss */
  .awards ul {
    min-width: 0;
  }
}

/* line 1127, ../sass/screen.scss */
.awards__box {
  display: table;
  /* Allow the centering to work */
  margin: 0 auto;
}
@media (max-width: 640px) {
  /* line 1127, ../sass/screen.scss */
  .awards__box {
    display: block;
    width: 100%;
  }
}

/* line 1137, ../sass/screen.scss */
.awards ul li {
  display: inline;
}

/* line 1140, ../sass/screen.scss */
.awards ul li a {
  text-decoration: none;
  padding: 30px;
}

/* line 1144, ../sass/screen.scss */
.heading--awards {
  margin: 35px 0 20px;
  color: #57506A;
}

/* line 1148, ../sass/screen.scss */
.heading--team {
  margin-bottom: 120px;
  color: #57506A;
}

/* line 1153, ../sass/screen.scss */
.team__member {
  width: 33%;
  min-width: 200px;
  display: inline-block;
  margin-bottom: 60px;
  vertical-align: top;
}

/* line 1161, ../sass/screen.scss */
.team__avatar {
  border-radius: 50%;
  width: 145px;
  border: 4px solid transparent;
  box-shadow: 0px 0px 0px 7px #43BC8F;
  margin-top: 7px;
  display: block;
  margin: 0 auto;
}
/* line 1170, ../sass/screen.scss */
.team__avatar:hover {
  pointer: cursor;
}

/* line 1174, ../sass/screen.scss */
.team__avatar--join {
  border: 0;
  box-shadow: none;
}

/* line 1179, ../sass/screen.scss */
.team__name {
  font-size: 1.5em;
  color: #57506A;
  margin: 25px 0 10px;
}

/* line 1185, ../sass/screen.scss */
.team__title {
  font-weight: 300;
  font-size: .9em;
  color: #959595;
}

/* line 1191, ../sass/screen.scss */
.team__workwith {
  font-size: 2em;
  font-weight: 500;
  color: #57506A;
  margin-top: 90px;
}

/* line 1198, ../sass/screen.scss */
.investors__list {
  background: white;
  padding: 60px;
  margin: 120px 150px -440px;
  z-index: 100;
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 880px) {
  /* line 1198, ../sass/screen.scss */
  .investors__list {
    margin: 120px 30px -440px;
  }
}
/* line 1214, ../sass/screen.scss */
.investors__list img {
  margin: 0 10px;
}

/* line 1219, ../sass/screen.scss */
.investors__item {
  margin: 45px 0;
}

/* line 1223, ../sass/screen.scss */
.blogfeatured {
  display: flex;
  margin: 0 auto;
  max-width: 1250px;
  position: relative;
  margin-top: -220px;
}
@media (min-width: 880px) and (max-width: 1024px) {
  /* line 1223, ../sass/screen.scss */
  .blogfeatured {
    margin-top: -120px;
  }
}
@media (max-width: 880px) {
  /* line 1223, ../sass/screen.scss */
  .blogfeatured {
    flex-direction: column;
  }
}

/* line 1239, ../sass/screen.scss */
.blogfeatured__main {
  background: white;
  display: flex;
  position: relative;
  max-width: 820px;
  margin-right: 30px;
  width: 100%;
}
@media (max-width: 1024px) {
  /* line 1239, ../sass/screen.scss */
  .blogfeatured__main {
    margin: 0 auto;
  }
}
@media (max-width: 680px) {
  /* line 1239, ../sass/screen.scss */
  .blogfeatured__main {
    flex-direction: column;
  }
}

/* line 1255, ../sass/screen.scss */
.blogfeatured__text {
  max-width: 415px;
  padding: 40px;
}
@media (max-width: 880px) {
  /* line 1255, ../sass/screen.scss */
  .blogfeatured__text {
    order: 2;
  }
}

/* line 1263, ../sass/screen.scss */
.blog__category, .blogfeatured__category, .blogbody__category {
  color: #43BC8F;
  font-size: 1.1em;
}

@media (max-width: 680px) {
  /* line 1269, ../sass/screen.scss */
  .blogfeatured__category {
    position: absolute;
    top: 20px;
    left: 30px;
    background: #43BC8F;
    padding: 10px 20px;
    color: white;
  }
}

/* line 1282, ../sass/screen.scss */
.blog__title, .blogfeatured__title a, .blogbody__title {
  font-size: 2.2em;
  font-weight: 600;
  color: #57506A;
}

/* line 1287, ../sass/screen.scss */
.blogfeatured__title a {
  text-decoration: none;
}

/* line 1292, ../sass/screen.scss */
.blog__content, .blogfeatured__content, .blog__category_description, .blogbody__content {
  font-size: 1.1em;
  font-weight: 300;
  color: #72687B;
  line-height: 1.875em;
}

/* line 1299, ../sass/screen.scss */
.blogfeatured__content {
  margin-top: 30px;
}

/* line 1303, ../sass/screen.scss */
.blog__category_description {
  margin: 0 0 20px;
  padding: 20px;
  background: transparent;
  width: 100%;
  color: #BCCDD9;
}
@media (max-width: 680px) {
  /* line 1303, ../sass/screen.scss */
  .blog__category_description {
    margin-top: -74px;
    font-size: 1em;
  }
}
/* line 1316, ../sass/screen.scss */
.blog__category_description h2 {
  font-size: 150%;
  color: #43BC8F;
}

@media (max-width: 680px) {
  /* line 1321, ../sass/screen.scss */
  .alm-btn-wrap {
    margin: auto;
  }
}

/* line 1327, ../sass/screen.scss */
.blogfeatured__more,
.blogitem__more {
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #43BC8F;
  padding: 11px 30px 10px;
  color: #43BC8F;
  font-weight: 600;
  font-size: .9em;
  margin-top: 50px;
  text-decoration: none;
}

/* line 1340, ../sass/screen.scss */
.blogfeatured__more,
.blogitem__more:hover {
  background-color: #43BC8F;
  color: white;
}

/* line 1345, ../sass/screen.scss */
.blogfeatured__image {
  display: block;
  width: 415px;
  min-height: 520px;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 680px) {
  /* line 1345, ../sass/screen.scss */
  .blogfeatured__image {
    order: 1;
    width: 90%;
    min-height: 300px;
    margin: 20px auto;
    background-position: top center;
  }
}

/* line 1364, ../sass/screen.scss */
.related {
  overflow: hidden;
  max-width: 1290px;
  margin: 0 auto;
  margin-bottom: 80px;
}
@media (min-width: 880px) {
  /* line 1370, ../sass/screen.scss */
  .related .blogitems {
    flex-wrap: nowrap;
  }
}

/* line 1377, ../sass/screen.scss */
.blogitems, .ajax-load-more-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1290px;
  margin: 3px auto 10px;
}
@media (max-width: 880px) {
  /* line 1377, ../sass/screen.scss */
  .blogitems, .ajax-load-more-wrap {
    flex-direction: column;
  }
}

/* line 1388, ../sass/screen.scss */
.category .blogitems {
  margin-top: -120px;
}
@media (max-width: 880px) {
  /* line 1388, ../sass/screen.scss */
  .category .blogitems {
    margin-top: -200px;
  }
}
@media (max-width: 680px) {
  /* line 1388, ../sass/screen.scss */
  .category .blogitems {
    margin-top: -150px;
  }
}

/* line 1399, ../sass/screen.scss */
.button--blogitems {
  font-size: 1em;
  margin: 65px 40px 5px;
}
@media (min-width: 1024px) {
  /* line 1399, ../sass/screen.scss */
  .button--blogitems {
    margin-right: auto;
    left: 40px;
    position: relative;
    padding: 15px 35px 10px;
  }
}

/* line 1411, ../sass/screen.scss */
.blogitems__heading {
  width: 100%;
  font-size: 2.2em;
  font-weight: 600;
  color: #57506A;
  margin: 40px;
}
@media (max-width: 880px) {
  /* line 1411, ../sass/screen.scss */
  .blogitems__heading {
    font-size: 1.8em;
    font-weight: 500;
    text-align: center;
    margin: 60px 0 40px;
  }
}

/* line 1426, ../sass/screen.scss */
.blogitem {
  background: white;
  max-width: 400px;
  margin: 0 15px 30px;
  padding-bottom: 90px;
  position: relative;
  float: left;
}
@media (max-width: 880px) {
  /* line 1426, ../sass/screen.scss */
  .blogitem {
    min-width: 200px;
    align-self: center;
  }
}

/* line 1440, ../sass/screen.scss */
.blogitem__header {
  padding: 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  min-height: 188px;
  box-sizing: border-box;
}

/* line 1449, ../sass/screen.scss */
.blogitem__header--featured {
  height: auto;
}

/* line 1453, ../sass/screen.scss */
.blogitem__category {
  color: white;
  font-size: 1em;
  z-index: 2;
  position: relative;
  font-weight: 200;
  margin-bottom: 15px;
}

/* line 1462, ../sass/screen.scss */
.blogitem__category--featured {
  color: #C3FFE9;
}

/* line 1466, ../sass/screen.scss */
.blogitem__category a {
  color: #C3FFE9;
  text-decoration: none;
}

/* line 1471, ../sass/screen.scss */
.blogitem__blogtitle {
  color: white;
  font-size: 1.3em;
  z-index: 2;
  position: relative;
  line-height: 1.75em;
}

/* line 1479, ../sass/screen.scss */
.blogtitle__bloglink {
  text-decoration: none;
  color: white;
}

/* line 1484, ../sass/screen.scss */
.blogitem__content {
  padding: 40px;
  font-size: 1.1em;
  color: #72687B;
  font-weight: 300;
  line-height: 1.875em;
  min-height: 290px;
}

/* line 1492, ../sass/screen.scss */
.blogitem__content small {
  font-size: .5em;
  line-height: 9px;
}

/* line 1496, ../sass/screen.scss */
.blogitem__content small a {
  font-size: 1.5em;
  color: #43BC8F;
  line-height: 9px;
  text-decoration: none;
}

/* line 1502, ../sass/screen.scss */
.blogitem .post-categories a {
  font-size: 1em;
  color: #43BC8F;
  line-height: 9px;
  text-decoration: none;
  z-index: 2;
  position: absolute;
  right: 39px;
  bottom: 55px;
}

/* line 1512, ../sass/screen.scss */
.blogitem__more {
  margin: 0 40px 40px;
  bottom: 0;
  position: absolute;
  line-height: 1em;
}

/* line 1519, ../sass/screen.scss */
.blogitem__color {
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .9;
}

/* line 1530, ../sass/screen.scss */
.blogitem__color--green {
  background-color: #43BC8F;
}

/* line 1533, ../sass/screen.scss */
.blogitem__color--darkpurple {
  background-color: #5A5270;
}

/* line 1536, ../sass/screen.scss */
.blogitem__color--mediumpurple {
  background-color: #716879;
}

/* line 1539, ../sass/screen.scss */
.blogitem__color--lightpurple {
  background-color: #947FA7;
}

/* line 1542, ../sass/screen.scss */
.blogitem__color--red {
  background-color: #FF565B;
}

/* line 1546, ../sass/screen.scss */
.blogfeatured__secondary {
  margin: -5px 0 0 0;
}
@media (max-width: 880px) {
  /* line 1546, ../sass/screen.scss */
  .blogfeatured__secondary {
    margin: 30px auto;
  }
}

/* line 1554, ../sass/screen.scss */
.blogbody {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 1561, ../sass/screen.scss */
.single-post .blogbody {
  margin: -640px 10px 0;
}
@media (min-width: 880px) {
  /* line 1561, ../sass/screen.scss */
  .single-post .blogbody {
    margin: -430px auto 0;
  }
}

/* line 1569, ../sass/screen.scss */
.blogbody__background {
  position: relative;
  width: 100%;
  height: 40vw;
  background-size: cover;
  background-position: 0 20%;
  margin-bottom: 30px;
}
@media (min-width: 1024px) {
  /* line 1569, ../sass/screen.scss */
  .blogbody__background {
    display: none;
  }
}

/* line 1582, ../sass/screen.scss */
.blogbody__image {
  position: absolute;
  top: 0;
  margin-left: 600px;
  margin-top: 270px;
  height: auto;
  display: block;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1024px) {
  /* line 1582, ../sass/screen.scss */
  .blogbody__image {
    display: none;
  }
}

/* line 1599, ../sass/screen.scss */
.blogbody__main {
  max-width: 830px;
}

/* line 1603, ../sass/screen.scss */
.blogbody__category {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .025em;
  margin-bottom: 15px;
}

@media (max-width: 880px) {
  /* line 1611, ../sass/screen.scss */
  .blogbody__title {
    color: white;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.5em;
  }
}

/* line 1622, ../sass/screen.scss */
.blogbody__content {
  background: white;
  min-height: 560px;
  padding: 10px;
}
@media (min-width: 1024px) {
  /* line 1622, ../sass/screen.scss */
  .blogbody__content {
    padding: 40px 260px 60px 70px;
    min-height: 720px;
  }
}
/* line 1633, ../sass/screen.scss */
.blogbody__content p, .blogbody__content h1, .blogbody__content h2, .blogbody__content h3, .blogbody__content h4 {
  margin: 20px 0;
}
/* line 1637, ../sass/screen.scss */
.blogbody__content h1, .blogbody__content h2, .blogbody__content h3, .blogbody__content h4 {
  font-size: 1.3em;
  font-weight: 600;
  color: #574F6B;
  margin: 30px 0 35px;
}
/* line 1644, ../sass/screen.scss */
.blogbody__content h2 {
  font-size: 1.1em;
}
/* line 1645, ../sass/screen.scss */
.blogbody__content h3, .blogbody__content h4 {
  font-size: 1.0em;
}
/* line 1647, ../sass/screen.scss */
.blogbody__content a {
  text-decoration: none;
  color: #43BC8F;
  font-weight: 600;
}

/* line 1653, ../sass/screen.scss */
.blogbody__breadcrumbs {
  color: #72687B;
}
/* line 1655, ../sass/screen.scss */
.blogbody__breadcrumbs p, .blogbody__breadcrumbs h1, .blogbody__breadcrumbs h2, .blogbody__breadcrumbs h3, .blogbody__breadcrumbs h4 {
  margin: 20px 0;
}
/* line 1659, ../sass/screen.scss */
.blogbody__breadcrumbs h1, .blogbody__breadcrumbs h2, .blogbody__breadcrumbs h3, .blogbody__breadcrumbs h4 {
  font-size: 1.3em;
  font-weight: 600;
  color: #574F6B;
  margin: 30px 0 35px;
}
/* line 1666, ../sass/screen.scss */
.blogbody__breadcrumbs h2 {
  font-size: 1.1em;
}
/* line 1667, ../sass/screen.scss */
.blogbody__breadcrumbs h3, .blogbody__breadcrumbs h4 {
  font-size: 1.0em;
}
/* line 1669, ../sass/screen.scss */
.blogbody__breadcrumbs a {
  text-decoration: none;
  color: #43BC8F;
  font-weight: 600;
}

/* line 1676, ../sass/screen.scss */
.blogbody__date {
  color: #A39AAB;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: .175em;
  margin: 20px 0 1px;
  text-transform: uppercase;
}

/* line 1685, ../sass/screen.scss */
.blogbody__headings {
  padding: 40px;
}
@media (min-width: 880px) {
  /* line 1685, ../sass/screen.scss */
  .blogbody__headings {
    background: white;
    padding: 40px 260px 5px 70px;
  }
}
/* line 1692, ../sass/screen.scss */
.blogbody__headings a {
  text-decoration: none;
  color: #43BC8F;
  font-weight: 600;
}

/* line 1699, ../sass/screen.scss */
.blogbody__sociallinks {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 40px auto;
  width: 150px;
  height: 50px;
}
@media (min-width: 880px) {
  /* line 1699, ../sass/screen.scss */
  .blogbody__sociallinks {
    display: flex;
    flex-direction: column;
    background: red;
    width: 50px;
    height: 150px;
    position: absolute;
  }
}

/* line 1716, ../sass/screen.scss */
.blogbody__sociallinks--top {
  top: -40px;
  display: none;
  margin-left: 760px;
}
@media (min-width: 1024px) {
  /* line 1716, ../sass/screen.scss */
  .blogbody__sociallinks--top {
    display: flex;
  }
}

/* line 1725, ../sass/screen.scss */
.blogbody__sociallinks--bottom {
  display: flex;
}
@media (min-width: 1024px) {
  /* line 1725, ../sass/screen.scss */
  .blogbody__sociallinks--bottom {
    bottom: -40px;
    margin-left: 761px;
  }
}

/* line 1732, ../sass/screen.scss */
.sociallinks__item {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 16px;
}

/* line 1739, ../sass/screen.scss */
.sociallinks__item--facebook {
  background-image: url("/wp-content/themes/klue/assets/img/social-facebook.png");
  background-color: #6e5f92;
  background-size: auto 22px;
}

/* line 1745, ../sass/screen.scss */
.sociallinks__item--twitter {
  background-image: url("/wp-content/themes/klue/assets/img/social-twitter.png");
  background-color: #42bc8f;
}

/* line 1750, ../sass/screen.scss */
.sociallinks__item--linkedin {
  background-image: url("/wp-content/themes/klue/assets/img/social-linkedin.png");
  background-color: #f45c5f;
}

/* line 1756, ../sass/screen.scss */
.page-numbers {
  display: flex;
  margin: 0 auto 40px;
  max-width: 800px;
  text-align: center;
  justify-content: center;
}
/* line 1763, ../sass/screen.scss */
.page-numbers li {
  margin: 10px;
}
/* line 1766, ../sass/screen.scss */
.page-numbers li a {
  border: 2px solid #43BC8F;
  padding: 10px 16px;
  min-width: 10px;
  color: #43BC8F;
}
/* line 1773, ../sass/screen.scss */
.page-numbers li .current {
  border: 2px solid #43BC8F;
  padding: 10px 16px;
  color: white;
  background: #43BC8F;
}
/* line 1780, ../sass/screen.scss */
.page-numbers li .dots {
  padding-top: 30px;
  color: #43BC8F;
}

/* line 1787, ../sass/screen.scss */
.footer {
  background: #57506A;
  padding: 110px 0 120px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-size: 144px 60px;
  background-position: center 190px;
}

/* line 1798, ../sass/screen.scss */
.page-template-about .footer {
  padding-top: 260px;
}

/* line 1803, ../sass/screen.scss */
.footer__logo {
  background: url("/wp-content/themes/klue/assets/img/logo-klue.svg") no-repeat;
  background-size: contain;
  text-indent: -9999px;
  display: block;
  width: 145px;
  height: 65px;
  margin: 0 auto;
}

/* line 1813, ../sass/screen.scss */
.footer__footer-nav {
  display: flex;
  color: #D3CED6;
  justify-content: center;
  margin: 90px 0 60px;
}
@media (max-width: 880px) {
  /* line 1813, ../sass/screen.scss */
  .footer__footer-nav {
    flex-direction: column;
  }
}

/* line 1824, ../sass/screen.scss */
.footer-nav__item {
  margin: 12px 0;
}
/* line 1827, ../sass/screen.scss */
.footer-nav__item a {
  font-size: .9em;
  color: #EDE6FF;
  text-decoration: none;
}
@media (min-width: 880px) {
  /* line 1824, ../sass/screen.scss */
  .footer-nav__item {
    margin: 0 12px;
  }
}

/* line 1838, ../sass/screen.scss */
.footer-nav__item--current a {
  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

/* line 1843, ../sass/screen.scss */
.button--nav-item {
  margin-top: 0px;
  font-size: 1em;
  padding: 12px 25px 8px;
}
@media (min-width: 880px) {
  /* line 1843, ../sass/screen.scss */
  .button--nav-item {
    margin-left: 15px;
    margin-top: -15px;
  }
}

/* line 1854, ../sass/screen.scss */
.footer__sociallist {
  display: flex;
  justify-content: center;
  margin: 60px 0 30px;
}

/* line 1860, ../sass/screen.scss */
.footer__socialicon {
  margin: 0 15px;
}

/* line 1864, ../sass/screen.scss */
.footer__socialicon {
  display: block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

/* line 1872, ../sass/screen.scss */
.footer__socialicon--mail {
  background-image: url("/wp-content/themes/klue/assets/img/icon-footeremail.png");
}

/* line 1873, ../sass/screen.scss */
.footer__socialicon--angellist {
  background-image: url("/wp-content/themes/klue/assets/img/icon-footerangellist.png");
}

/* line 1874, ../sass/screen.scss */
.footer__socialicon--twitter {
  background-image: url("/wp-content/themes/klue/assets/img/icon-footertwitter.png");
}

/* line 1875, ../sass/screen.scss */
.footer__socialicon--linkedin {
  background-image: url("/wp-content/themes/klue/assets/img/icon-footerlinkedin.png");
}

/* line 1878, ../sass/screen.scss */
.footer__love {
  color: white;
  font-size: .9em;
  font-weight: 500;
}

/* line 1883, ../sass/screen.scss */
.icon-love {
  display: inline-block;
  background: url("/wp-content/themes/klue/assets/img/icon-love.png") no-repeat;
  background-position: center;
  background-size: contain;
  width: 15px;
  height: 15px;
}

/* line 1892, ../sass/screen.scss */
.footer__legal {
  color: #C6BAE5;
  margin-top: 60px;
  font-size: .9em;
  font-weight: 500;
}
@media (min-width: 880px) {
  /* line 1892, ../sass/screen.scss */
  .footer__legal {
    margin-top: 90px;
  }
}

/* line 1903, ../sass/screen.scss */
.slideshow {
  width: 200px;
  margin: 60px auto 60px auto;
}
@media (min-width: 880px) {
  /* line 1903, ../sass/screen.scss */
  .slideshow {
    width: 420px;
    margin: 60px auto 60px auto;
  }
}

/* line 1912, ../sass/screen.scss */
.slick-next,
.slick-prev {
  height: 60px;
  width: 60px;
  z-index: 10;
}

/* line 1919, ../sass/screen.scss */
.slick-prev {
  background: url("/wp-content/themes/klue/assets/img/icon-previous.pn" g) no-repeat;
}
@media (min-width: 880px) {
  /* line 1919, ../sass/screen.scss */
  .slick-prev {
    left: -120px;
  }
}
@media (max-width: 680px) {
  /* line 1919, ../sass/screen.scss */
  .slick-prev {
    left: -80px;
  }
}
@media (max-width: 340px) {
  /* line 1919, ../sass/screen.scss */
  .slick-prev {
    left: -60px;
  }
}

/* line 1934, ../sass/screen.scss */
.slick-prev:hover {
  opacity: .9;
  background: url("/wp-content/themes/klue/assets/img/icon-previous.png") no-repeat;
}

/* line 1938, ../sass/screen.scss */
.slick-next {
  background: url("/wp-content/themes/klue/assets/img/icon-next.png") no-repeat;
}
@media (min-width: 880px) {
  /* line 1938, ../sass/screen.scss */
  .slick-next {
    right: -120px;
  }
}
@media (max-width: 680px) {
  /* line 1938, ../sass/screen.scss */
  .slick-next {
    right: -80px;
  }
}
@media (max-width: 340px) {
  /* line 1938, ../sass/screen.scss */
  .slick-next {
    right: -60px;
  }
}

/* line 1950, ../sass/screen.scss */
.slick-next:hover {
  opacity: .9;
  background: url("/wp-content/themes/klue/assets/img/icon-next.png") no-repeat;
}

/* line 1955, ../sass/screen.scss */
.slick-prev:before,
.slick-next:before {
  content: none;
}

/* line 1958, ../sass/screen.scss */
.slick-slide img {
  width: 200px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px #999;
  margin-bottom: 5px;
}
@media (min-width: 880px) {
  /* line 1958, ../sass/screen.scss */
  .slick-slide img {
    width: 400px;
  }
}

/* line 1969, ../sass/screen.scss */
.fullscreen-message {
  background: #43BC8F;
}

/* line 1973, ../sass/screen.scss */
.fullscreen-message__message-content {
  color: white;
  text-align: center;
  margin: 300px 40px;
}

/* line 1979, ../sass/screen.scss */
.subheading--message-content {
  color: #C3FFE9;
  padding: 30px 40px 240px;
}

/* line 1984, ../sass/screen.scss */
.fullscreen-message__legal {
  color: #C3FFE9;
}

/* line 1988, ../sass/screen.scss */
.modal__demo--on,
.modal__ebook--on {
  overflow: hidden;
}

/* line 1993, ../sass/screen.scss */
.modal {
  display: none;
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

/* line 2004, ../sass/screen.scss */
.modal__container {
  position: absolute;
  max-width: 380px;
  top: 10%;
  margin-left: -190px;
  text-align: center;
  left: 50%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

/* line 2014, ../sass/screen.scss */
.modal__info {
  background: #43BC8F;
  padding: 70px 50px 45px;
}

/* line 2019, ../sass/screen.scss */
#modal__videoPlayer .modal__container {
  max-width: 740px;
  margin-left: -365px;
}
@media (max-width: 640px) {
  /* line 2019, ../sass/screen.scss */
  #modal__videoPlayer .modal__container {
    margin-left: 0;
    left: 0;
    width: 100%;
  }
}
/* line 2029, ../sass/screen.scss */
#modal__videoPlayer .modal_description {
  margin-top: 0;
}

/* line 2034, ../sass/screen.scss */
#modal__video .modal__info {
  background: transparent url("/wp-content/themes/klue/assets/images/watchvideo.png") bottom;
  padding: 0 0 197px 0;
}
/* line 2038, ../sass/screen.scss */
#modal__video .modal__info_inner {
  background: #43BC8F;
  padding: 15px 55px 15px;
}
/* line 2042, ../sass/screen.scss */
#modal__video .modal__description {
  line-height: 1.5em;
  margin-top: 5px;
}

/* line 2048, ../sass/screen.scss */
.modal__heading {
  font-size: 1.5em;
  color: white;
}

/* line 2053, ../sass/screen.scss */
.modal__description {
  font-size: 1.1em;
  font-weight: 200;
  font-family: "proxima-nova";
  margin-top: 30px;
  line-height: 2em;
  color: #C3FFE9;
}

/* line 2062, ../sass/screen.scss */
.modal__close, .modal__closer {
  background: url("/wp-content/themes/klue/assets/img/icon-modal-close.png");
  background-size: 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 20px;
  text-indent: -9999px;
}

/* line 2073, ../sass/screen.scss */
.modal__form {
  background: #57506A;
  padding: 30px 60px 50px;
  color: white;
}

/* line 2079, ../sass/screen.scss */
.modal__success, .nf-response-msg > h1 {
  color: white;
  font-size: 1.5em;
  padding: 180px 0 60px;
  background-image: url(/wp-content/themes/klue/assets/img/icon-modal-success.png);
  background-position: center 80px;
  background-size: 75px;
  background-repeat: no-repeat;
}

/* line 2089, ../sass/screen.scss */
#modal__videoSrc {
  width: 640px;
  height: 360px;
}
@media (max-width: 640px) {
  /* line 2089, ../sass/screen.scss */
  #modal__videoSrc {
    width: 100%;
    height: 100%;
  }
}

/* line 2100, ../sass/screen.scss */
.modal__input {
  color: #C3B5E9;
  background: none;
  border-color: #8E81AE;
  border-width: 0 0 1px 0;
  border-style: solid;
  display: block;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1em;
  font-weight: 200;
  margin: 30px 0;
}

/* line 2115, ../sass/screen.scss */
.modal__input::-webkit-input-placeholder {
  color: #C3B5E9 !important;
}

/* line 2116, ../sass/screen.scss */
.modal__input::-moz-placeholder {
  color: #C3B5E9 !important;
}

/* line 2117, ../sass/screen.scss */
.modal__input::-ms-input-placeholder {
  color: #C3B5E9 !important;
}

/* line 2119, ../sass/screen.scss */
.modal__button.modal__submit {
  margin-top: 30px;
  width: 100%;
}

/* line 2124, ../sass/screen.scss */
.modal__image {
  width: 100%;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 2147, ../sass/screen.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 2152, ../sass/screen.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 2163, ../sass/screen.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 2173, ../sass/screen.scss */
.invisible {
  visibility: hidden;
}

/* line 2177, ../sass/screen.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 2183, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 2187, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  /* line 2196, ../sass/screen.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 2205, ../sass/screen.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 2210, ../sass/screen.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 2214, ../sass/screen.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 2218, ../sass/screen.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 2223, ../sass/screen.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 2229, ../sass/screen.scss */
  thead {
    display: table-header-group;
  }

  /* line 2233, ../sass/screen.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 2238, ../sass/screen.scss */
  img {
    max-width: 100% !important;
  }

  /* line 2242, ../sass/screen.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 2249, ../sass/screen.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
